# Graph Database Demo
- Collection of *Node* and *Edge* Tables

Documentation on SQL Graph is found [here](https://docs.microsoft.com/en-us/sql/relational-databases/graphs/sql-graph-overview?view=sql-server-ver15)

In [1]:
CREATE SCHEMA [GraphDB];

## Node Tables

In [8]:
IF NOT EXISTS (
    SELECT * 
      FROM sys.tables AS T
      INNER JOIN sys.schemas AS S ON S.schema_id = T.schema_id
      WHERE T.name = 'Person'
        AND S.Name = 'GraphDB'
) BEGIN
    CREATE TABLE [GraphDB].Person
    (
        Id      INT         NOT NULL IDENTITY (1, 1),
        Name    VARCHAR(50) NOT NULL,
        Created DATETIME2   NOT NULL DEFAULT GETDATE()
    ) AS NODE
END

GO

IF NOT EXISTS (
    SELECT * 
      FROM sys.tables AS T
      INNER JOIN sys.schemas AS S ON S.schema_id = T.schema_id
      WHERE T.name = 'Activity'
        AND S.Name = 'GraphDB'
) BEGIN
    CREATE TABLE [GraphDB].Activity
    (
        Id      INT         NOT NULL IDENTITY (1, 1),
        Name    VARCHAR(50) NOT NULL,
        Created DATETIME2   NOT NULL DEFAULT GETDATE()
    ) AS NODE
END

GO

IF NOT EXISTS (
    SELECT * 
      FROM sys.tables AS T
      INNER JOIN sys.schemas AS S ON S.schema_id = T.schema_id
      WHERE T.name = 'Location'
        AND S.Name = 'GraphDB'
) BEGIN
    CREATE TABLE [GraphDB].Location
    (
        Id      INT          NOT NULL IDENTITY (1, 1),
        Name    VARCHAR(50)  NOT NULL,
        Address VARCHAR(100) NULL,
        Created DATETIME2    NOT NULL DEFAULT GETDATE()
    ) AS NODE 
END

GO

IF NOT EXISTS (
    SELECT * 
      FROM sys.tables AS T
      INNER JOIN sys.schemas AS S ON S.schema_id = T.schema_id
      WHERE T.name = 'City'
        AND S.Name = 'GraphDB'
) BEGIN
    CREATE TABLE [GraphDB].City
    (
        Id      INT          NOT NULL IDENTITY (1, 1),
        Name    VARCHAR(50)  NOT NULL,
        State   CHAR(2)      NOT NULL,
        Created DATETIME2    NOT NULL DEFAULT GETDATE()
    ) AS NODE 
END

GO

## Edge Tables
Edge tables keep relationship between nodes

In [9]:
IF NOT EXISTS (
    SELECT * 
      FROM sys.tables AS T
      INNER JOIN sys.schemas AS S ON S.schema_id = T.schema_id
      WHERE T.name = 'Likes'
        AND S.Name = 'GraphDB'
) BEGIN
    CREATE TABLE [GraphDB].Likes
    (        
        Created DATETIME2    NOT NULL DEFAULT GETDATE()
    ) AS EDGE
END

GO

IF NOT EXISTS (
    SELECT * 
      FROM sys.tables AS T
      INNER JOIN sys.schemas AS S ON S.schema_id = T.schema_id
      WHERE T.name = 'Attends'
        AND S.Name = 'GraphDB'
) BEGIN
    CREATE TABLE [GraphDB].Attends
    (        
        Created DATETIME2    NOT NULL DEFAULT GETDATE()
    ) AS EDGE
END

GO

IF NOT EXISTS (
    SELECT * 
      FROM sys.tables AS T
      INNER JOIN sys.schemas AS S ON S.schema_id = T.schema_id
      WHERE T.name = 'LivesIn'
        AND S.Name = 'GraphDB'
) BEGIN
    CREATE TABLE [GraphDB].LivesIn
    (        
        Created DATETIME2    NOT NULL DEFAULT GETDATE()
    ) AS EDGE
END

GO

IF NOT EXISTS (
    SELECT * 
      FROM sys.tables AS T
      INNER JOIN sys.schemas AS S ON S.schema_id = T.schema_id
      WHERE T.name = 'FriendsWith'
        AND S.Name = 'GraphDB'
) BEGIN
    CREATE TABLE [GraphDB].FriendsWith
    (        
        Created DATETIME2    NOT NULL DEFAULT GETDATE()
    ) AS EDGE
END

GO 

IF NOT EXISTS (
    SELECT * 
      FROM sys.tables AS T
      INNER JOIN sys.schemas AS S ON S.schema_id = T.schema_id
      WHERE T.name = 'LocatedAt'
        AND S.Name = 'GraphDB'
) BEGIN
    CREATE TABLE [GraphDB].LocatedAt
    (        
        Created DATETIME2    NOT NULL DEFAULT GETDATE()
    ) AS EDGE
END

GO