# Graph Database Demo

## Insert People

In [1]:
INSERT INTO [GraphDB].Person
(Name,  Created)
VALUES
('Olivia Hext',     GETDATE()),
('Brenton Danell',  GETDATE()),
('Galen Steele',    GETDATE()),
('Jasmin Solomon',  GETDATE()),
('Sheri Nixon',     GETDATE());

## Insert Activities

In [2]:
INSERT INTO [GraphDB].Activity
(Name, Created)
VALUES
('Hike',      GETDATE()),
('Yoga',      GETDATE()),
('Read',      GETDATE()),
('Jiu-jitsu', GETDATE()),
('Coding',    GETDATE());

## Insert Locations

In [1]:
INSERT INTO [GraphDB].[Location]
(Name, Address, Created)
VALUES
('Sunshine Yoga',       '1111 Main St',              GETDATE()),
('Public Library',      '300 Library Rd',            GETDATE()),
('Star Fitness',        '123 Avocado Ave',           GETDATE()),
('City University',     '1 Student Park',            GETDATE()),
('Red Rock Park',       '',                          GETDATE()),
('Waterfall Trail',     '',                          GETDATE()),
('Hipster Coffee Shop', '12 Avenida del Presidente', GETDATE());

## Insert Cities

In [3]:
INSERT INTO [GraphDB].[City]
(Name, State, Created )
VALUES
('Ocean Town',  'CA', GETDATE()),
('Cactus City', 'CA', GETDATE());