# Graph Database Demo

## Clear Edges

In [22]:
DELETE FROM GraphDB.Likes;
DELETE FROM GraphDB.Attends;
DELETE FROM GraphDB.LivesIn;
DELETE FROM GraphDB.FriendsWith;
DELETE FROM GraphDB.LocatedAt;

## Inserting Edge Data
While inserting into an edge table, you need to provide the **$node_id** from **$from_id** and **$to_id** columns

In [23]:
-- Olivia likes Yoga
INSERT INTO [GraphDB].Likes
($from_id, $to_id, Created)
VALUES
(
    (SELECT $node_id FROM GraphDB.Person WHERE [Id] = 1),
    (SELECT $node_id FROM GraphDB.Activity WHERE [Id] = 2),
    GETDATE()
)

GO

-- Olivia Attends City University
INSERT INTO [GraphDB].Attends
($from_id, $to_id, [Created])
VALUES
(
    (SELECT $node_id FROM GraphDB.Person   WHERE [Id] = 1),
    (SELECT $node_id FROM GraphDB.Location WHERE [Id] = 4),
    GETDATE()
)

GO

--  City University is located in Cactus City
INSERT INTO [GraphDB].LocatedAt
($from_id, $to_id, [Created])
VALUES
(    
    (SELECT $node_id FROM GraphDB.Location WHERE [Id] = 4),
    (SELECT $node_id FROM GraphDB.City     WHERE [Id] = 2),
    GETDATE()
)

GO 

--  Brenton is livesIn Cactus City
INSERT INTO [GraphDB].LivesIn
($from_id, $to_id, [Created])
VALUES
(    
    (SELECT $node_id FROM GraphDB.Person   WHERE [Id] = 2),
    (SELECT $node_id FROM GraphDB.City     WHERE [Id] = 2),
    GETDATE()
)

GO 

--  Jasmine likes reading
INSERT INTO [GraphDB].Likes
($from_id, $to_id, [Created])
VALUES
(    
    (SELECT $node_id FROM GraphDB.Person   WHERE [Id] = 4),
    (SELECT $node_id FROM GraphDB.Activity WHERE [Id] = 3),
    GETDATE()
)

GO 

-- Olivia lives in Ocean Town
INSERT INTO [GraphDB].LivesIn
($from_id, $to_id, [Created])
VALUES
(    
    (SELECT $node_id FROM GraphDB.Person   WHERE [Id] = 1),
    (SELECT $node_id FROM GraphDB.City     WHERE [Id] = 1),
    GETDATE()
)

GO

-- Jasmin lives in Ocean Town
INSERT INTO [GraphDB].LivesIn
($from_id, $to_id, [Created])
VALUES
(    
    (SELECT $node_id FROM GraphDB.Person   WHERE [Id] = 4),
    (SELECT $node_id FROM GraphDB.City     WHERE [Id] = 1),
    GETDATE()
)

GO

-- Galen lives in Cactus City
INSERT INTO [GraphDB].LivesIn
($from_id, $to_id, [Created])
VALUES
(    
    (SELECT $node_id FROM GraphDB.Person   WHERE [Id] = 3),
    (SELECT $node_id FROM GraphDB.City     WHERE [Id] = 2),
    GETDATE()
)

GO

-- Sheri lives in Cactus City
INSERT INTO [GraphDB].LivesIn
($from_id, $to_id, [Created])
VALUES
(    
    (SELECT $node_id FROM GraphDB.Person   WHERE [Id] = 5),
    (SELECT $node_id FROM GraphDB.City     WHERE [Id] = 2),
    GETDATE()
)

GO 

-- Olivia is friends with Jasmin
INSERT INTO [GraphDB].FriendsWith
($from_id, $to_id, [Created])
VALUES
(    
    (SELECT $node_id FROM GraphDB.Person   WHERE [Id] = 1),
    (SELECT $node_id FROM GraphDB.Person   WHERE [Id] = 4),
    GETDATE()
)


GO

-- Brenton is friends with  Galen
INSERT INTO [GraphDB].FriendsWith
($from_id, $to_id, [Created])
VALUES
(    
    (SELECT $node_id FROM GraphDB.Person   WHERE [Id] = 2),
    (SELECT $node_id FROM GraphDB.Person   WHERE [Id] = 3),
    GETDATE()
)

GO

-- Brenton is friends with Sheri
INSERT INTO [GraphDB].FriendsWith
($from_id, $to_id, [Created])
VALUES
(    
    (SELECT $node_id FROM GraphDB.Person   WHERE [Id] = 2),
    (SELECT $node_id FROM GraphDB.Person   WHERE [Id] = 5),
    GETDATE()
)

GO

-- Olivia is friends with Sheri
INSERT INTO [GraphDB].FriendsWith
($from_id, $to_id, [Created])
VALUES
(    
    (SELECT $node_id FROM GraphDB.Person   WHERE [Id] = 1),
    (SELECT $node_id FROM GraphDB.Person   WHERE [Id] = 5),
    GETDATE()
)

GO

-- Jasmin is friends with Galen
INSERT INTO [GraphDB].FriendsWith
($from_id, $to_id, [Created])
VALUES
(    
    (SELECT $node_id FROM GraphDB.Person   WHERE [Id] = 4),
    (SELECT $node_id FROM GraphDB.Person   WHERE [Id] = 3),
    GETDATE()
)

GO

-- Jasmin is friends with Sheri
INSERT INTO [GraphDB].FriendsWith
($from_id, $to_id, [Created])
VALUES
(    
    (SELECT $node_id FROM GraphDB.Person   WHERE [Id] = 4),
    (SELECT $node_id FROM GraphDB.Person   WHERE [Id] = 5),
    GETDATE()
)

GO

-- Sheri Likes to Hike
INSERT INTO [GraphDB].Likes
($from_id, $to_id, [Created])
VALUES
(
    (SELECT $node_id FROM GraphDB.Person   WHERE [Id] = 5),
    (SELECT $node_id FROM GraphDB.Activity WHERE [Id] = 1),
    GETDATE()
)

GO

-- Brenton does Jiu-Jitsu
INSERT INTO [GraphDB].Attends
($from_id, $to_id, [Created])
VALUES
(    
    (SELECT $node_id FROM GraphDB.Person   WHERE [Id] = 2),
    (SELECT $node_id FROM GraphDB.Activity WHERE [Id] = 4),
    GETDATE()
)

GO

-- Jamin does Yoga
INSERT INTO [GraphDB].Attends
($from_id, $to_id, [Created])
VALUES
(    
    (SELECT $node_id FROM GraphDB.Person   WHERE [Id] = 4),
    (SELECT $node_id FROM GraphDB.Activity WHERE [Id] = 2),
    GETDATE()
)

GO


-- Hiking at Red Rock Park
INSERT INTO [GraphDB].LocatedAt
($from_id, $to_id, [Created])
VALUES
(    
    (SELECT $node_id FROM GraphDB.Activity WHERE [Id] = 1),
    (SELECT $node_id FROM GraphDB.Location WHERE [Id] = 5),
    GETDATE()
)

GO 

-- Hiking at Waterfall Trail
INSERT INTO [GraphDB].LocatedAt
($from_id, $to_id, [Created])
VALUES
(    
    (SELECT $node_id FROM GraphDB.Activity WHERE [Id] = 1),
    (SELECT $node_id FROM GraphDB.Location WHERE [Id] = 6),
    GETDATE()
)

GO

-- Yoga at Red Rock Park
INSERT INTO [GraphDB].LocatedAt
($from_id, $to_id, [Created])
VALUES
(    
    (SELECT $node_id FROM GraphDB.Activity WHERE [Id] = 2),
    (SELECT $node_id FROM GraphDB.Location WHERE [Id] = 5),
    GETDATE()
)

GO

-- Red Rock Pack is located in Cactus City
INSERT INTO [GraphDB].LocatedAt
($from_id, $to_id, [Created])
VALUES
(    
    (SELECT $node_id FROM GraphDB.Location WHERE [Id] = 5),
    (SELECT $node_id FROM GraphDB.City     WHERE [Id] = 2),
    GETDATE()
)

GO

-- Waterfall Trail is located in Ocean Town
INSERT INTO [GraphDB].LocatedAt
($from_id, $to_id, [Created])
VALUES
(    
    (SELECT $node_id FROM GraphDB.Location WHERE [Id] = 6),
    (SELECT $node_id FROM GraphDB.City     WHERE [Id] = 1),
    GETDATE()
)